body{
    margin:0; 
}

h1{
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
}

label{
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1.2em; 
    display: inline-block;

 }

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
    margin-top: 10%;
}

button{

    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #827095;
    color:#ffffff;
}

p{
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

li{
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-decoration:none;
}

a{
    color: #6c2bb2;
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    text-decoration:none;
}

ul{
    text-decoration: none;
    list-style-type: none;
}